.block {
  display: block;
  width: 250px;
  border: 1px solid #000;
  padding: 10px;
}

.search_txt {
  font-family: sans-serif;
  font-size: 18px;
}
.form {
  font-family: sans-serif;
  display: block;
  border: 1px solid rebeccapurple;
  font-size: 18px;
}
