.contact_li {
  font-size: 20px;
  line-height: inherit;
}

.contact_btn {
  padding: 5px;
  margin: 5px;
  background-color: rebeccapurple;
  border: 4px solid rebeccapurple;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.contact_btn:hover {
  background-color: #fff;
  border: 4px solid rebeccapurple;
  color: rebeccapurple;
}
